html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
.pai-Truco {
    width: 100%;
    height: 185vh;
    background-image: url(../img/fundoTr.png);
    background-size: 100%;
} 
.container{
    width: 95%;
    height: 100vh;
    display: flex;
    background: none;
    margin: auto;
    
}
.container .moldura1{
    width: 285px;
    height: 375px;
    background-color: white;
    box-shadow: 0 0 10px white;
    margin-top: 11%;
    border-radius: 20px;
    background-size: 100%;
}
.container .moldura2{
    width: 370px;
    height: 485px;
    box-shadow: 0 0 15px white;
    border-radius: 20px;
    margin-top: 7%;
    background-image: url(../img/truco/tr1.png);
    background-size: 100%;
}
.container .moldura3{
    width: 285px;
    height: 375px;
    background-color: white;
    box-shadow: 0 0 10px white;
    margin-top: 11%;
    border-radius: 20px;
    background-size: 100%;
}
.container .botão1{
    margin: auto; 
    padding: 30px;
    border-radius: 100%;
    background-image: url(../img/botãoEsq.png);
    background-size: 100%;
    outline: none;
    border: 1px solid white
}
.container .botão2{
    margin: auto;
    padding: 30px;
    border-radius: 100%;
    background-image: url(../img/botãoDir.png);
    background-size: 100%;
    outline: none;
    border: 1px solid white;
}
.container .botão2:hover, .container .botão1:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white; 
}
.container .botão2:active, .container .botão1:active{
    position: relative;
    top:2px;

}

.container .moldura1 .blur{
    backdrop-filter: blur(2px);
    background-color: rgba(7, 6, 6, 0.397);
    height: 100%;
    width: 100%;
    border-radius: 20px
}
.container .moldura3 .blur{
    backdrop-filter: blur(2px);
    background-color: rgba(7, 6, 6, 0.397);
    height: 100%;
    width: 100%;
    border-radius: 20px
}
/* inicio do vídeo */

.video-truco{
    width: 100%;
    height: 85vh;
   
}
.video-truco .container-truco{
    width: 95%;
    height: 85vh;
    background: none;
    margin: auto
}
.video-truco .container-truco video{
    height: 70%;
    margin-top: 2%;
    background: none;
    width: 100%;
    outline: none;
}

.video-truco .container-truco h2{
    color: white;
    margin-top: -4%;
    margin-bottom: 4%;
}
.video-truco .container-truco a{
    color: white;
    text-decoration: none;
}
.video-truco .container-truco a:hover{
    color: red
}

/* final do video */
