*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: sans-serif
}
.pai{
    width: 100%;
    height: 100vh;
    background-image: url('../img/fundEntrada.png');
    background-size: 100%;
    overflow: hidden;
}

/* INICIO DO HEADER */
.header{
    height: 86px;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(1px);
    background-color: rgba(177, 6, 6, 0.5);
    margin-top: -86px;
    z-index: 1;
}

@keyframes headerdesc{
    0%{
        margin-top: -86px;
    }
    100%{
        margin-top: 0px
    }
}

.header .container-header{
    height: 96%;
    width: 85%;
    margin: auto;
    border-bottom: 3px solid black;
    border-radius: 30px
}
.header .container-header img{
    float: left;
    height: 79px;
    width: 90px;
    margin-top: 2px;
}
.header .container-header ul{
    list-style:none;
    float: right;
    font-size:25px;
    margin-top: 30px;
    
}
.header .container-header ul li{
    display: inline-block;
    margin-left: 13px;
}
.header .container-header ul li .active{
    color: white;
}
.header .container-header ul li a{
    text-decoration: none;
    color: black;
}
body{
    font-family: sans-serif;
}
/* FINAL DO HEADER */

/* inicio div de abertura */
.abertura1{
    float: left;
    width: 0%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    animation-name: ab1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
  .abertura1 .imagem1 {
    background-image: url(../img/fundEntrada1.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.abertura2{
    
    float: right;
    width: 0%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    animation-name: ab2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.abertura2 .imagem2 {
    background-image: url(../img/fundEntrada2.png);
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 100%;
}  
@keyframes ab1{
    0%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}
@keyframes ab2{
    0%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}

/* final das div's de abertura */

/* inicio da div de login */

.login{
    width: 25%;
    height: 62%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    margin : 12% auto;
    border : 2px solid rgba(177, 6, 6, 0.5);
    border-radius: 20px;
    animation: log;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-delay: 0.70s;
    animation-timing-function: ease;  
}
@keyframes log{
    0%{
        margin-top: 200%;
    }
    100%{
        margin: 12% auto;
    }
}
.login h1{
    padding-top: 20%;
    margin-bottom: 5%;
}
.login form{
    width: 100%;
    height: 65%;
}
.login .input1{
    margin-top: 5%;
    padding: 5%;
    border-radius: 6px;
    width: 58%;
    transition: 1s;
    outline: none;
}
.login .input2{
    margin-top: 5%;
    margin-bottom: 7%;
    padding: 5%;
    border-radius: 6px;
    width: 58%;
    transition: 1s; 
    outline: none;
}
.login .input1:hover, .login .input2:hover{
    background-color: black;
    color: white;
    width: 75%;
}
.login h4{
    font-size: 118%;
    margin-bottom: 6%;
}
.login button{
    width: 43%;
    height: 13%;
    border-radius: 4px;
    background: none;
    border: 2px solid rgba(177, 6, 6, 0.5);
    color: white;
    outline: none;
}
.login button:active{
    animation-name: bt1;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@keyframes bt1{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(0deg)
    }
    75%{
        transform: rotate(10deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
.login button:hover{
    box-shadow: 0 0 10px rgba(177, 6, 6, 0.5), 0 0 10px rgba(177, 6, 6, 0.5) ;
}
.login form a{
    text-decoration: none;
    color: white
}


/* final da div de login */
